@font-face {
	/*Sketch Gothic*/
	font-family: 'sketch_gothic_schoolregular';
	src: url('../fonts/sketch_gothic_school-webfont.eot');
	src: url('../fonts/sketch_gothic_school-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/sketch_gothic_school-webfont.woff') format('woff'),
		 url('../fonts/sketch_gothic_school-webfont.ttf') format('truetype'),
		 url('../fonts/sketch_gothic_school-webfont.svg#sketch_gothic_schoolregular') format('svg');
	font-weight: normal;
}

@font-face {
	font-family: 'Voga-Medium';
	src: url('../fonts/webfonts/32E610_0_0.eot');
	src: url('../fonts/webfonts/32E610_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/webfonts/32E610_0_0.woff2')
	format('woff2'),
	url('../fonts/webfonts/32E610_0_0.woff') format('woff'),
	url('../fonts/webfonts/32E610_0_0.ttf') format('truetype');
}
 
@font-face {
	/*UniSans*/
	font-family: 'uni_sansthin_caps';
	src: url('../fonts/uni_sans_thin-webfont.eot');
	src: url('../fonts/uni_sans_thin-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/uni_sans_thin-webfont.woff') format('woff'),
		 url('../fonts/uni_sans_thin-webfont.ttf') format('truetype'),
		 url('../fonts/uni_sans_thin-webfont.svg#uni_sansthin_caps') format('svg');
	font-weight: normal;
	font-style: normal;

}

* {
	margin:0px;
	padding:0px;
	transition-duration: .3s;
}

body {
	/*background-image: url(http://i61.tinypic.com/2zycvaq.png);*/
	font-size: 16px;
	font-family: 'uni_sansthin_caps', 'Segoe UI';
	background-color:#202020;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
}

#top_menu {
	height:100px;
	background-color: #161616;
	margin: 0px auto;
	position:relative;
	border-bottom: 1px solid black;
}

.menu_button {
	font-family: 'uni_sansthin_caps';
	text-decoration:none;
	padding-top: 0px;	
	overflow: auto;
	width: 1000px;
	margin: auto;
}
.menu_button > li {
	float: left;
	list-style-type: none;
}

.menu_button > li > a {
	text-decoration: none;
	text-align: center;
	font-size: 2rem;
	line-height: 100px;
	vertical-align: middle;
	color: rgba(255,255,255,0.8);
	border-right: 1px solid #3e3e3d;
	padding: 0px 60px;
	display: inline-block;
}

.menu_button > li.active > a {
	color: rgb(199, 0, 57);
}

.menu_button > div:last-child {
	border-right: 0px;
}

.menu_button > li > a:hover {
	transition: 0.5s;
	background: #4f4f4f;
	opacity:0.8;
	color:#f62292;
	cursor:pointer;
}

#content {
	background-image: url(../images/sam1.png);
	background-position: 0 0;
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: calc(100vh - 284px);
}

header, section, footer, nav {
	display:block;
}



.full_name {
	background-image: url("../images/diamond.png");
	background-repeat: no-repeat;
	background-size: 67%;
	background-position: 82px 69px;
	font-size: 1250%;
	font-weight: normal;
	font-family: 'sketch_gothic_schoolregular';
	float: left;
	margin-left: 100px;
	margin-top: 20px;
}

#firstName {
	color:white;
}

#lastName {
	color: #ffb400;
	margin-left: 60px;
	margin-top: -70px;
}

aside.short_description {
	font-family: 'uni_sansthin_caps';
	font-size: 425%;
	color: gray;
	float: left;
	margin-left: 200px;
	clear: both;
	padding-top: 20px;
	padding-bottom: 20px;
}

.pink {
	color: #ff52ae;
}
.darkyellow {
	color: #ffb400;
}
.red {
	color: red;
}
.purplepink {
	color: #801F52;
}

#footer {
	padding: 1.5em;
	clear: both;
	height: auto;
	font: 1em 'uni_sansthin_caps';
	color: white;
	background-color: #161616;
	text-align:left;
	border-top: 1px solid #979797;
	overflow: auto;
	position: initial;
	bottom: 0px;
}

#footer #footer-copyright {
	text-align: right;
}

#footer .social {
	font-size: 34px;
	color: #f62292;
	font-family: 'uni_sansthin_caps';
	display:block;
	margin: auto;
	width: 400px;
	text-align: center;
}

.socicons {
	margin-left:2px;
}

.socicons > a {
	transition:1s;
	display: inline-block;
	padding: 1rem;
}

.socicons > a > img:hover{
	color: #ff52ae;
	cursor:pointer;
	opacity:0.8;
}

.clearfix {
	clear: both;
}


/* resume css */


.resume-body {
	background-image: url(../images/sam1.png);
	background-position: 0 0;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#headline{
	font-family: 'Voga-Medium';
	font-size: 10rem;
	line-height: 100px;
	padding: 2rem;
	padding-left: 3rem;
	color: rgb(199, 0, 57);
}

#headline > span {
	color: #ffb400;
		text-shadow: 0px 0px 15px rgb(199, 0, 57);
}

.resume-body > .resume-content > * {
	max-width: 600px;
	margin: 0.1rem 3rem 0.1rem 3rem;
}

.resume-body > .resume-content > *:first-child {
	margin-top : 3rem;
}

.resume-body > .resume-content > *:last-child {

}

.resume-body > .resume-content > *:nth-child(4), .resume-body > .resume-content > *:nth-child(7) {
	margin-top: 3rem;
}


.name_designation {
	color: #ffb400;
	padding: 2rem;
	background-color: rgba(199, 0, 57, .5);
	border-radius: 2px;
	display: block;
	font-size: 1.7rem;
	position: relative;
}

.personal_details {
	color: #fff;
	font-weight: bold;
	background-color: rgba(199, 0, 57, .5);
	padding: 2rem;
	font-size:1.2rem;
	border-radius: 2px;
	display: block;
	position: relative;
}

#profile {
	transition-duration: .5s;
	background-color: rgba(199, 0, 57, .5);
	padding: 2rem;
	border-radius: 2px;
	display: inline-block;
	font-size: 2rem;
	color:#fff;
	position: relative;
	text-transform: uppercase;
	transform: skew(-10deg) rotate(-3deg);
}

#profile:hover {
	transform: skew(-12deg) rotate(-5deg);
	cursor: default;
}

#profile:before, #profile:after {
	font-size: 10rem;
	line-height: 0;
	display: block;
	position: absolute;
}

#profile:before {
	content: "“";
	left: -2rem;
	top: 3rem;
}

#profile:after {
	content: "”";
	right: -2rem;
	bottom: -3rem;
}

table {
	color: #fff;
	border-spacing: 0px;
	background-color: rgba(199, 0, 57, .5);
	min-width: calc(600px + 2rem + 2rem);
}

thead {
	color: #ffb400;
}

tbody {
}

tbody > tr:nth-child(odd) {
	background-color: rgba(0,0,0,0.3);
}

tbody > tr:nth-child(even) {
	background-color: rgba(0,0,0,0.2);
}

th, td {
	padding: 1em;
}


#language tr > td:nth-child(even) {
	text-align: center;
}

#skills tr > td:nth-child(2) {
	text-align: center;
}

form {
	background-color: rgba(199, 0, 57, .5);
	padding: 2rem;
	font-size: 1rem;
	color: #fff;
	position: relative;
	min-width: 500px;
	overflow: auto;
}
form > * {
	margin-bottom: 1rem;
}

form > label {
	float: left;
	display: inline-block;
	min-width: 30%;
	clear:left;
	font-size: 1.5rem;
	line-height: 4rem;
}
form > input {
	float: right;
	padding: 1.0rem;
	min-width: 60%;
	font-size: 1.5rem;
	line-height: 1rem;
}

form > textarea {
	float: right;
	font-size: 1.5rem;
	line-height: 1rem;
	border-width: 2px;
	padding: 1.0rem;
	width: 60%;
	height: 200px;

}

#submit_button, #reset_button{
	float: right;
	padding: 1rem 2rem 1rem 2rem;
	border: none;
	background-color: #ffb400;
	color: #000;
	font-family:'uni_sansthin_caps';
	font-weight: bold;
}

#reset_button{
	background-color: rgba(255, 180, 0, 0.6);
}

#submit_button:hover, #reset_button:hover {
	background-color: rgba(255, 222, 110, 1);
}


@media screen and (max-width: 1300px) {
	#content {
		height: auto;
	}
}

